ul {
  padding-inline-start: 0;
  margin: 5px;
}

li {
  border: 2px solid grey;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.complete {
  opacity: 0.6;
  background-color: rgba(0, 100, 0, 0.125);
}

.complete h4 {
  text-decoration: line-through;
}

.incomplete {
  background-color: rgba(220, 20, 60, 0.077);
}
